/node_modules
/public/hot
/public/storage
/public/admin/*
/public/files/*
/public/resumes/*
/public/images/*
/storage/*.key
/storage/images
/storage/images/*
/storage/files/*
/storage/files
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*
.idea/*
*.tar
*.sql
